# Virtual Environment
venv/
env/
.venv/
pro_env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment / Secrets
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log